
# State-zip-code-GeoJSON/
__pycache__
.env
venv
requirements.txt
/env/*
/heatmap/result/*.html
!/heatmap/result/default.html
/heatmap/result/*.kml
/heatmap/heatmap/data
/app/targetprocess/google
app/slackbot/data/conversations.db
