<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="icon"
      href="{{ url_for('static', filename='LT_logo.png') }}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>Heatmap Generation Tool</title>
  </head>
  <script>
    $(document).ready(function () {
      var iframeSrc = $("#heatmap-iframe").attr("src");
      if (iframeSrc && iframeSrc.length > 0) {
        $("#heatmap-iframe").addClass("iframe-border");
      }
      $("#heatmap-form").submit(function (event) {
        event.preventDefault(); // Prevent the form from submitting via the browser

        $("#loading").show();
        $("#download").hide();

        var formData = new FormData(this); // Create FormData object with the form's data

        $.ajax({
          type: "POST",
          url: "http://localhost:5000/heatmap/zipcode",
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            if (response.status === "success") {
              $("#loading").hide();
              $("#download").show();
              $("#heatmap-iframe")
                .attr("src", response.heatmap_url)
                .addClass("iframe-border");
              // Set the src attribute of the iframe to the heatmap URL
              $("#heatmap-iframe").attr("src", response.heatmap_url);
              $("#download-link").attr("href", response.heatmap_url);
            } else {
              $("#loading").hide();
              $("#download").hide();
              $("#result").text("Error generating heatmap.");
            }
          },
          error: function () {
            $("#loading").hide();
            $("#download").hide();
            $("#result").text("Error communicating with server.");
          },
        });
        $("#heatmap-iframe").on("error", function () {
          $("#result").text("Error loading heatmap.");
          $("#download-link").attr("href", "");
        });
      });
    });
  </script>
  <body>
    <div class="info">
      <h1>Create Heatmap</h1>
      <form
        action="/heatmap/zipcode"
        id="heatmap-form"
        method="post"
        enctype="multipart/form-data"
      >
        <!-- Excel File Input -->
        <label for="excel_file">Upload Excel or CSV File:</label>
        <input
          type="file"
          id="excel_file"
          name="excel_file"
          accept=".csv, .xlsx, .xls"
          required
        />

        <!-- State Code Dropdown -->
        <label for="state_code">State Code:</label>
        <select id="state_code" name="state_code" required>
          <option value="al">AL</option>
          <option value="ak">AK</option>
          <option value="az">AZ</option>
          <option value="ar">AR</option>
          <option value="ca">CA</option>
          <option value="co">CO</option>
          <option value="ct">CT</option>
          <option value="de">DE</option>
          <option value="fl">FL</option>
          <option value="ga">GA</option>
          <option value="hi">HI</option>
          <option value="id">ID</option>
          <option value="il">IL</option>
          <option value="in">IN</option>
          <option value="ia">IA</option>
          <option value="ks">KS</option>
          <option value="ky">KY</option>
          <option value="la">LA</option>
          <option value="me">ME</option>
          <option value="md">MD</option>
          <option value="ma">MA</option>
          <option value="mi">MI</option>
          <option value="mn">MN</option>
          <option value="ms">MS</option>
          <option value="mo">MO</option>
          <option value="mt">MT</option>
          <option value="ne">NE</option>
          <option value="nv">NV</option>
          <option value="nh">NH</option>
          <option value="nj">NJ</option>
          <option value="nm">NM</option>
          <option value="ny">NY</option>
          <option value="nc">NC</option>
          <option value="nd">ND</option>
          <option value="oh">OH</option>
          <option value="ok">OK</option>
          <option value="or">OR</option>
          <option value="pa">PA</option>
          <option value="ri">RI</option>
          <option value="sc">SC</option>
          <option value="sd">SD</option>
          <option value="tn">TN</option>
          <option value="tx">TX</option>
          <option value="ut">UT</option>
          <option value="vt">VT</option>
          <option value="va">VA</option>
          <option value="wa">WA</option>
          <option value="wv">WV</option>
          <option value="wi">WI</option>
          <option value="wy">WY</option>
        </select>

        <!-- City Input -->
        <label for="city">Filename Prefix:</label>
        <input type="text" id="city" name="city" required />

        <!-- Submit Button -->
        <input type="submit" value="Generate Heatmap" />
      </form>
      <div id="loading" style="display: none">
        <h5>Loading... Please wait.</h5>
        <!-- Optionally, you can add a spinner image here -->
      </div>
      <div id="download" style="display: none">
        <a href="" id="download-link" download>Download this Heatmap</a>
      </div>
    </div>

    <iframe
      id="heatmap-iframe"
      width="100%"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </body>
</html>
